<div class="preloader">
    <div class="loader">
        <div class="ytp-spinner">
            <div class="ytp-spinner-container">
                <div class="ytp-spinner-rotator">
                    <div class="ytp-spinner-left">
                        <div class="ytp-spinner-circle"></div>
                    </div>
                    <div class="ytp-spinner-right">
                        <div class="ytp-spinner-circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====== PRELOADER PART ENDS ======-->

<!--====== HEADER PART START ======-->
<app-header></app-header>

<!--====== HEADER PART ENDS ======-->

<!--====== ABOUT PART START ======-->

<app-about></app-about>
<!--====== ABOUT PART ENDS ======-->

<!--====== COUNTER PART START ======-->

<app-counter></app-counter>

<!--====== COUNTER PART ENDS ======-->

<!--====== EVENT SCHEDULE PART START ======-->

<app-event></app-event>

<!--====== EVENT SCHEDULE PART ENDS ======-->

<!--====== FEATURES PART START ======-->

<app-feature></app-feature>
<!--====== FEATURES PART ENDS ======-->

<!--====== TEAM PART START ======-->

        <div class="container" style="
background: #333; padding-bottom: 90px;
">
            <div class="row justify-content-center">
                    <div class="header-content text-center">
                        <h2 class="header-title">You are Using Free Lite Version of Eventify</h2>
                        <h3 class="sub-title">Please, purchase full version to get all sections, features and permission to remove credits</h3>

                        <ul class="header-btn">
                            <li><a class="main-btn main-btn-2" href="https://rebrand.ly/eventify-gg" rel="nofollow">Purchase Now</a></li>
                            <li><a class="main-btn" href="https://rebrand.ly/eventify-gg" rel="nofollow">Learn More</a></li>
                        </ul>
                    </div>  <!-- header content -->
            </div> <!-- row -->
        </div> <!-- container -->
<!--====== GALLERY PART ENDS ======-->

<!--====== PRICING PART START ======-->
<!-- pricing componente -->
<app-pricing></app-pricing>
<!--====== PRICING PART ENDS ======-->

<!--====== CLIENT PART START ======-->

<div id="client" class="client-area pt-115 pb-130 gray-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center pb-50">
                    <h2 class="title">Event Sponsors</h2>
                    <p class="text">Lorem ipsum dolor sit amet, in quodsi vulputate pro. Ius illum vocent mediocritatem reiciendis odit sed, vero amet blanditiis cule dicta iriure at phaedrum.</p>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row client-active">
            <div class="col-lg-3">
                <div class="single-client">
                    <img src="assets/images/client-1.png" alt="Client">
                </div> <!-- single client -->
            </div>
            <div class="col-lg-3">
                <div class="single-client">
                    <img src="assets/images/client-2.png" alt="Client">
                </div> <!-- single client -->
            </div>
            <div class="col-lg-3">
                <div class="single-client">
                    <img src="assets/images/client-3.png" alt="Client">
                </div> <!-- single client -->
            </div>
            <div class="col-lg-3">
                <div class="single-client">
                    <img src="assets/images/client-4.png" alt="Client">
                </div> <!-- single client -->
            </div>
            <div class="col-lg-3">
                <div class="single-client">
                    <img src="assets/images/client-5.png" alt="Client">
                </div> <!-- single client -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</div>

<!--====== CLIENT PART ENDS ======-->

<!--====== CONTACT PART START ======-->
<!--reducido a componente contact -->
<app-contact></app-contact>

<!--====== CONTACT PART ENDS ======-->

<!--====== FOOTER PART START ======-->

<app-footer></app-footer>

<!--====== FOOTER PART ENDS ======-->

<!--====== BACK TOP TOP PART START ======-->

<a href="#" class="back-to-top"><i class="lni-chevron-up"></i></a>

<!--====== BACK TOP TOP PART ENDS ======--> 

<!--====== PART START ======-->
<!--====== PART ENDS ======-->

<!-- row -->




