<section id="event" class="event-schedule pt-115 pb-130">
    <div class="container" style="
background: #333; padding-bottom: 90px;
">
        <div class="row justify-content-center">
                <div class="header-content text-center">
                    <h2 class="header-title">You are Using Free Lite Version of Eventify</h2>
                    <h3 class="sub-title">Please, purchase full version to get all sections, features and permission to remove credits</h3>

                    <ul class="header-btn">
                        <li><a class="main-btn main-btn-2" href="https://rebrand.ly/eventify-gg" rel="nofollow">Purchase Now</a></li>
                        <li><a class="main-btn" href="https://rebrand.ly/eventify-gg" rel="nofollow">Learn More</a></li>
                    </ul>
                </div>  <!-- header content -->
        </div> <!-- row -->
    </div> <!-- container -->
</section>